.logo{
    background-color:tomato;

}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 125px;
    right: 0;
}

nav li{
    display :inline;
    margin-left: 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.produtos {
  
    margin: 0 auto;
    width: 940px;
    padding: 50px 0;  
}

.produtos li
{
    display: inline-block;
    text-align: center;
    width: 30%;
    margin: 0 1.5%;
    vertical-align: top;
    padding: 30px 20x;
    box-sizing: border-box;
    border-color: black;
    border-style: solid;
    border-width: 2px ;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao{
    font-size: 18px;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

