.logo{
    background-color:tomato;

}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 125px;
    right: 0;
}

nav li{
    display :inline;
    margin-left: 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.produtos li{
    display: inline-block;
    margin: 85px;
    
}

h2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    
}